
<div class = "titlediv">
  <h1>Welcome to Stitcherdoodle</h1>
  <h4> Your Personal Assistant for Crochet and Knitting Projects </h4>
</div>

<div class ="signupbox">
<h5>Please log in</h5>
<%= form_tag sessions_path do %>
  <div class = "field">
    <%= label_tag :email %></br>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class = "field">
    <%= label_tag :password %></br>
    <%= password_field_tag :password %>
  </div>
<%= submit_tag "SUBMIT", :class =>'button_form' %></br>
<% end %>
</div>

<!--   <button class="button" id="signUp">Not a Member?  Sign Up, it's Easy and Free!</button> -->
  <%= link_to "Not a Member?  Sign Up, it's Easy and Free!", new_user_path %></br>