<h2>Sign Up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div class = "error_messages">
    <h4>Sorry, the user data is invalid for the following reason(s):</h4>
    <ol>
  <% for message in @user.errors.full_messages %>
  <li><%= message %></li>
  <% end %>
    </ol>
    <h4>Please retry below</h4>
  </div>
<% end %>

<div class = "form-group">
  <%=f.label :name %>
  <%=f.text_field :name %>
</div>

<div class = "form-group">
  <%=f.label :email %>
  <%=f.text_field :email %>
</div>

<div class = "form-group">
  <%=f.label :password %>
  <%=f.password_field :password %>
</div>

<div class = "form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class = "form-action"><%= f.submit %></div>
<% end %>