<div class = "page-header">
<h1>Your Projects <small>Click on title to work on a project</small></h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8">
<dl class="dl-horizontal text-overflow">
   <dt><h4>Project</h4></dt>
   <dd><h4>Description</h4></dd>
  <% @user_proj_list.each do |f| %>
<dt><%=f.id%>: <%= link_to "#{f.projtitle}", user_user_project_path(current_user, UserProject.where(:project_id => f.id,:user_id => current_user.id).first) %></dt>
<dd><%=f.description %></dd>

  <% end %>
</dl>

</div>
<div class="col-xs-12 col-sm-4 col-md-4">
  <button class="btn btn-default btn-lg"><%= link_to "Create a new project", new_project_path %></button>
</br>
</br>
  <button class="btn btn-default btn-lg"><%= link_to "Add a project", new_user_user_project_path(current_user) %></button>

</div>




  <!-- Add the extra clearfix for only the required viewport -->
  <!-- <div class="clearfix visible-xs"></div> -->