<h1>Add a New Project to your Dashboard</h1>

<h4>Here is a list of existing projects</h4>


<%= form_for @user_proj do |f| %>
  <%= @project.each do |p| %>
    <%= f.radio_button :project_id, "#{p.projtitle}"%>
  <%end %>

  <div class = "form-actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Or create a new project", new_project_path %></br>
<%= link_to "Return to all Your Projects", user_user_projects_path(current_user) %>