<h1>Add a New Project to your Dashboard</h1>

<h4>Here is a list of existing projects</h4>
<div class="projlistbox">
  <ul id="ulprojlist">
    <% @project.each do |p| %>
      <li id='<%=p.id%>'>(<%=p.id%>) <%=p.projtitle %>: <%=p.description %></li>
    <%end %>
  </ul>
</div>
</br>
<%= form_for([current_user, @user_proj]) do |f|%>
  <div class = "field">
    <%= f.label "Project ID:" %></br>
    <%= f.text_field :project_id %>
  </div>
  <%=f.hidden_field :user_id, :value =>current_user.id %>
  <div class = "form-actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to "Or create a new project", new_project_path %></br>
<%= link_to "Return to all Your Projects", user_user_projects_path(current_user) %>