<!-- New User_Project Page -->

<ul class="nav nav-tabs">
  <li><a href="\users\<%=current_user.id%>\user_projects">Return to All Projects</a></li>
</ul>

<h1>Add a Project to your Dashboard</h1>
<div class="col-xs-12 col-sm-8 col-md-8">
  <h4>Select a Project to Add</h4>
  <div class="projlistbox">
    <ol id="ulprojlist">
      <% @project.each do |p| %>
        <li id='<%=p.id%>'><%=p.projtitle %>: <%=p.description %></li>
      <%end %>
    </ol>
  </div>
  </br>
  <button class="btn btn-default btn-lg"><%= link_to "Or create a new project", new_project_path %></button>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 row-fluid">
  <%= form_for([current_user, @user_proj]) do |f|%>
    <div class = "field">
      <%= f.label "Project ID:" %></br>
      <%= f.text_field :project_id %>
    </div>
    </br>
    <%=f.hidden_field :user_id, :value =>current_user.id %>
    <div class = "form-actions">
      <button class="btn btn-success btn-lg btn-block"><% f.submit%>Submit</button>
    </div>
  <% end %>
</div>