<h1>Project Dashboard</h1>
<%= link_to "Return to all Your Projects", user_user_projects_path(current_user) %>

<h3><%= @project.projtitle %></h3>

<div class = "patternboxHeader">
  <p>Current Instruction: #<span id="thisInst"><%= @instructions[0].ordinal %></span> of <span id="totalInsts"><%= @instructions.last.ordinal %></span></p>
</div>


<div class="counter">
  <h3>Repeated Row/Round Counter</h3>
  <h5>Total # of Repeated Rows/Rounds: </h5><input id="repeatstotal" type="text" placeholder="Total repeats" /></br>
  <input id="repeatstodo" type="text" placeholder="Left to do" />
  <!-- should these be inputs or just innerHTML? should user be able to manually change counters? -->
  <button class="button" id="upcount">+</button>
  <button class="button" id="downcount">-</button>
  <input id="repeatsdone" type="text" placeholder="Completed" />
</div>


<div class = "patternbox">
  <div class = "patterntable">
  <ul>
<!-- <%# @instructions.each do |f| %>
<li><strong>Instruction # <%#=f.ordinal%>:</strong></br>
  <%#= f.instext %></li>
  <%# end %> -->
<%= @instructions.first.instext %>
</ul>
  </p>

  </div>

</div>

<div class = "patternbuttons">
  <button class="button" id="nextInst">+</button>
  <button class="button" id="prevInst">-</button>
</div>