<%= form_for (@project) do |f| %>
  <div class = "form-inputs">
    <div class = "field">
      <%= f.label "Project Title" %></br>
      <%= f.text_field :projtitle %>
    </div>

    <div class = "field">
      <%= f.label "Project Author" %></br>
      <%= f.text_field :author %>
    </div>

    <div class = "field">
      <%= f.label "Project Description" %></br>
      <%= f.text_area :description %>
    </div>

    <div class = "field">
      <%= f.label "Pattern" %></br>
      <%= f.text_area :pattern %>
    </div>

    <div class = radio>
      <%= f.label "Select Method for Stitcherdoodle to Separate Instructions" %></br>

      <label><%= f.radio_button :regexCode, '1' %>Row 5: start of instruction indicated by :, does not end with a period  Row 6:</label></br>
      <label><%= f.radio_button :regexCode, '2' %>Row 5: start of instruction indicated by :, ends with a period.  Row 6:</label></br>
      <label><%= f.radio_button :regexCode, '3' %>Row 5. Start of instruction indicated by ., does not end with period  Row 6.</label></br>
      <label><%= f.radio_button :regexCode, '4' %>5) Start of instruction indicated by [number]), does not end with period  6)</label></br>


  </div>
  <div class = "form-actions">
    <%= f.submit %>
  </div>
<% end %>