<!-- Form for new projects -->

<%= form_for (@project) do |f| %>
  <!-- <div class = "form-inputs"> -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class = "form-group">
      <%= f.label "Project Title" %></br>
      <%= f.text_field :projtitle %>
    </div>

    <div class = "form-group">
      <%= f.label "Project Author" %></br>
      <%= f.text_field :author %>
    </div>

    <div class = "form-group">
      <%= f.label "Project Description" %></br>
      <%= f.text_field :description %>
    </div>

    <div class = radio>
     <h3><%= f.label "Select Preferred Pattern Parser" %></h3>
      <label><%= f.radio_button :regexCode, '1' %>Row 5: Example instruction  Row 6:</label></br>
      <label><%= f.radio_button :regexCode, '2' %>Row 5: Example instruction ending with period.  Row 6:</label></br>
      <label><%= f.radio_button :regexCode, '3' %>Row 5. Example instruction Row 6.</label></br>
      <label><%= f.radio_button :regexCode, '4' %>5) Example instruction 6)</label></br>
    </div>

    <div class = "form-action">
      <button class="btn btn-success btn-lg btn-block"><% f.submit %>Create!</button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class = "form-group">
      <%= f.label "Pattern" %></br>
      <%= f.text_area :pattern %>
    </div>

  </div>
<% end %>