<!-- Form for new projects -->

<%= form_for (@project) do |f| %>
  <!-- <div class = "form-inputs"> -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class = "form-group">
      <%= f.label "Project Title" %></br>
      <%= f.text_field :projtitle %>
    </div>

    <div class = "form-group">
      <%= f.label "Project Author" %></br>
      <%= f.text_field :author %>
    </div>

    <div class = "form-group">
      <%= f.label "Project Description" %></br>
      <%= f.text_field :description %>
    </div>

    <div class = radio>
     <h3><%= f.label "Select Preferred Pattern Parser" %></h3>
      <label><%= f.radio_button :regexCode, '1' %>STYLE 1 (colon only)</br> Row 1: First instruction (no period)</br>  Row 2: Second instruction</label></br>
      <label><%= f.radio_button :regexCode, '2' %>STYLE 2 (colon & period)</br>Row 1: First instruction, ending with period.  </br>Row 2: Second instruction.</label></br>
      <label><%= f.radio_button :regexCode, '3' %>STYLE 3 (dot only)</br>Row 1. First instruction (no period)</br>
        Row 2. Second instruction</label></br>
      <label><%= f.radio_button :regexCode, '4' %>STYLE 4 (bracket only)</br>1) First instruction (no period)</br>2) Second instruction</label></br>
      <label><%= f.radio_button :regexCode, '5' %>No pattern parsing; pattern will be saved as single instruction</label></br>
    </div>

    <div class = "form-action">
      <button class="btn btn-success btn-lg btn-block"><% f.submit %>Create!</button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class = "form-group">
      <%= f.label "Pattern" %></br>
      <%= f.text_area :pattern %>
    </div>

  </div>
<% end %>