<!-- Project Details Show Page -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Project Dashboard</a></li>
  <li><a href="\users\<%=current_user.id%>\user_projects">Return to All Projects</a></li>
</ul>

<h1>Stitcherdoodle Project: <%= @project.projtitle %></h1>

<h3>Here is a summary of your newly created project: </h3>

  <strong>Project Author: </strong>
  <%= @project.author %></br>

  <strong>Project Description: </strong>
  <%= @project.description %></br>

   <strong>Total # of Instructions: </strong><%= @instructions.last.ordinal %></br>

<div class="row">
   <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="table-responsive patterntable">
         <table class="table table-hover table-condensed table-striped">
            <thead>
             <tr>
               <th>Instr. #</th>
               <th>Details</th>
             </tr>
            </thead>
            <tbody>
               <% @instructions.each do |f| %>
                <tr>
                  <td><%=f.ordinal%></td>
                  <td><%= f.instext%></td>
                </tr>
               <% end %>
            </tbody>
         </table>
      </div>
   </div>
</div>
