<h1>Stitcherdoodle Project Show Page</h1>
<%= link_to "Return to all Your Projects", user_user_projects_path(current_user.id) %>
<h3>Here is a summary of your newly created project (but it's not linked to your project_users profile yet): </h3>

<p>
  <strong>Project Title: </strong>
  <%= @project.projtitle %></br>

  <strong>Project Author: </strong>
  <%= @project.author %></br>

  <strong>Project Description: </strong>
  <%= @project.description %></br>

<#%= form_for(current_user, @user_proj) do |d| %>
  <#%= d.hidden_field :user_id, :value =>current_user.id%>
  <#%= d.hidden_field :project_id, :value=>@project.id %>
   <#% end %>

  <div class = "form-actions">
    <#%= d.submit %>
  </div>

<% @instructions.each do |f| %>
<strong>Instruction # <%=f.ordinal%>:</strong></br>
  <%= f.instext %></br>
  <% end %>
</p>

