<!DOCTYPE html>
<html>
<head>
  <title>CrochetPA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "user_nav">
  <% if current_user %>
  Hi <%= current_user.name %>, you are currently logged in.</br>
    <%= link_to "Log out", session_path("current"), method: "delete" %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %>
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>

<%= flash[:notice] %>
<%= flash[:alert] %>

<%= yield %>

</body>
</html>
