<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Bitter|Raleway' rel='stylesheet' type='text/css'>
  <title>Stitcherdoodle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id = "user_nav">
  <% if current_user %>
  Hi <%= current_user.name %>, you are currently logged in.</br>
    <%= link_to "Log out", session_path("current"), method: "delete" %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %></br>
    <%= link_to "Log in", log_in_path %>
  <% end %>
</nav>

<div class = flash>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>

<%= yield %>

</body>
</html>
